n8n-lead-workflow/workflow-clean.json
{
  "name": "Lead Intake - Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-lead-secret']}}",
              "value2": "your-shared-secret-here"
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorized-response",
      "name": "Unauthorized Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst normalized = {\n  client_id: (body.client_id || 'example').trim(),\n  name: (body.name || '').trim(),\n  phone: (body.phone || '').trim(),\n  email: body.email ? body.email.trim().toLowerCase() : null,\n  message: (body.message || '').trim(),\n  service: body.service ? body.service.trim() : null,\n  source: body.source ? body.source.trim() : 'unknown',\n  utm: body.utm ? body.utm.trim() : null,\n  ip: body.ip || 'unknown',\n  user_agent: body.user_agent || 'unknown',\n  timestamp: body.timestamp || new Date().toISOString(),\n  raw_data: body\n};\n\nreturn { json: normalized };"
      },
      "id": "normalize-data",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (client_id, name, phone, email, message, service, source, utm, ip, user_agent, created_at, raw)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12)\nRETURNING id, created_at;",
        "options": {
          "queryParameters": "={{[\n  $json.client_id,\n  $json.name,\n  $json.phone,\n  $json.email,\n  $json.message,\n  $json.service,\n  $json.source,\n  $json.utm,\n  $json.ip,\n  $json.user_agent,\n  $json.timestamp,\n  JSON.stringify($json.raw_data)\n]}}"
        }
      },
      "id": "insert-lead",
      "name": "Insert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"lead_id\": \"{{$json[0].id}}\"}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Insert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
